/*______________________________________ GENEREL __________________________________*/

html {
	margin: 0;
}


h1 {
	font-family: sans-serif;
	font-size: 2.5rem;
	color: rgb(21, 14, 61);
	line-height: 1.125;
	margin: 1rem;
	letter-spacing: 0.4rem;
	text-align: center;
}

h2 {
	font-family: sans-serif;
	color: rgb(21, 14, 61);
	line-height: 1;
	font-size: 2rem;
	margin-bottom: 0.9rem;
	letter-spacing: 0.3rem;
	text-align: center;
}

h3 {
	font-family: sans-serif;
	color: rgb(21, 14, 61);
	line-height: 1.125;
	font-size: 1.1rem;
	margin-bottom: 0.8rem;
	letter-spacing: 0.2rem;
	text-align: center;
}

p {
	font-family: sans-serif;
	font-size: 0.8rem;
	color: rgb(21, 14, 61);
	padding: 0 10%;
}

header p {
	text-align: center;
	font-family: sans-serif;
	font-size: 0.7rem;
}

/*______________________________________VIDEO SECTION SOM ALTSÅ LIGE SKAL VÆRE HER__________________________________*/

video,
iframe {
	width: 100%;
	height: auto;
	display: block;
}

/*______________________________________HEADER SECTION__________________________________*/

header {
	background-image: url(billeder/charlotte_reol.webp);
	background-size: cover;
	padding: 60px;
}


/*______________________________________FILMEN SECTION__________________________________*/

#filmen_section {
	display: grid;
	justify-content: center;
	padding: 30px;
}

/*
FREMTIDEN

iframe {
	width: 100%;
	height: auto;
	aspect-ration: 16:9;
}
*/

.iframe-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

iframe {
	position: absolute;
	inset: 0;
	height: 100%;
	width 100%;
}


/*______________________________________HISTORIEN SECTION__________________________________*/

#historien_section {
		background-color: rgb(198, 215, 219);
		padding: 40px;
}

#historien_section blockquote {
	font-family: sans-serif;
	font-size: 0.85rem;
	font-style: italic;
	padding: 0 13%;
}


/*______________________________________GALLERI SECTION__________________________________*/


galleri_section {}

/* #galleri_section .galleri_container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 20px;
} */

#galleri_section .galleri_container {
	display: grid;
 	grid-template-rows: 300px 300px 300px;
  	grid-template-columns: 300px 300px 300px;
}

.child-3,
.child-5,
.child-7 {
  grid-column: span 2;
}


galleri_section img {
object-fit: cover;
height: 100%;
}


/*______________________________________HOLDET SECTION__________________________________*/

#holdet_section {
		background-color: rgb(198, 215, 219);
		padding: 40px;
	}

#holdet_section .holdet_container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 20px;
}


/*______________________________________LAYOUT SECTION__________________________________*/

#layout_section {}

/* .boks-1 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-2 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-3 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-4 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-5 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-6 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-7 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-8 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
}

.boks-9 {
	outline: 2px solidcolor black;
	outline-offset: 5px;
	color: darkgray;
} */


/*______________________________________GITHUB SECTION__________________________________*/

#github_section {
		background-color: rgb(198, 215, 219);
		padding: 40px;
}

/*______________________________________ FOOTER __________________________________*/

footer p {
	text-align: center;
	font-family: sans-serif;
	font-size: 0.7rem;
}


/*______________________________________ MEDIA QUERIES __________________________________*/

@media (min-width: 600px) {
	galleri_section {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	galleri_section {
		grid-template-columns: repeat(3, 1fr);
	}
}
